.messageContent h1 {
  font-size: 1.45rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.messageContent h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.messageContent h3 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.messageContent p {
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.messageContent ul {
  margin-bottom: 1rem;
  padding-left: 1.25rem;
  list-style-type: disc;
}

.messageContent li {
  margin-bottom: 0.5rem;
}

.messageContent a {
  color: white;
  cursor: pointer;
  display: inline;
  -webkit-text-decoration-color: white;
  text-decoration-color: white;
  text-decoration-line: underline;
  -webkit-text-decoration-skip-ink: auto;
  text-decoration-skip-ink: auto;
  text-decoration-style: dotted;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
  text-underline-position: from-font;
  vertical-align: baseline;
}

.messageContent a:hover {
  color: #339cff;
  -webkit-text-decoration-color: #339cff;
  text-decoration-color: #339cff;
}
